h1{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 50px;
    position: relative;
    animation: slideUp 1s forwards;
    text-align: center;
 }
 
 @keyframes slideUp {
   from {
     transform: translateY(50px);
     opacity: 0;
   }
   to {
     transform: translateY(0);
     opacity: 1;
   }
 }
 
.component{
    width: 100%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 15vh;
}

.card{
    max-width: 75%;
    min-width: 75%;
    height: 60%;
    /* background-color:#b7b78a; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.card::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

mat-card-actions{
    display: flex;
    justify-content: center;
}

.encabezado{
    text-align: center;
}

mat-grid-list{
    display: flex;
    flex: row;
    justify-content: space-around;
}

.button{
    /* background-color: #dddddd; */
  background-color: #b7b78a;
  color: #212529;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-decoration: none;
}

img{
  height: 60%;
  width: 100%;
}


.intro{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.intro p{
  width: 80%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}


/* Codigo Nuevo  */

/* 
====================================================
================== ANIMACIONES =====================
==================================================== */

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* 
====================================================
================== CLASES GENERALES =====================
==================================================== */

mat-card-title{
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

mat-grid-tile{
  height: 10vh;
}

/* 
====================================================
================== CELULARES =====================
==================================================== */

@media (max-width: 480px){

  .card{
    width: 40vw;
    height: 50vw;
    /* background-color:#b7b78a; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: fadeIn 1.5s forwards;
}

}


/* 
====================================================
================== TABLETS =====================
==================================================== */


@media only screen and (min-width: 481px) and (max-width: 980px) {
 
  .card{
    width: 40vw;
    height: 50vw;
    /* background-color:#b7b78a; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: fadeIn 1.5s forwards;
}

}


/* 
====================================================
================== LAPTOPS =====================
==================================================== */


/* and (max-width: 1024px) */
@media only screen and (min-width: 980px)  {
  


}


