h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
  }

.component{
    width: 100%;
    height: 60vh;
    margin-top: 2%;
}

.card{
    max-width: 70%;
    min-width: 70%;
    height: 60%;
    /* background-color:#b7b78a; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

mat-card-actions{
    display: flex;
    justify-content: center;
}

.encabezado{
    text-align: center;
}

mat-grid-list{
    display: flex;
    flex: row;
    justify-content: space-around;
}

.button{
    /* background-color: #dddddd; */
  background-color:    #b7b78a;;
}