<div class="component">
  <div class="encabezado">
    <h1>{{textos[currentLanguage].titulo}}</h1>
  </div>
  <div class="intro">
    <p>
      {{textos[currentLanguage].p1}}
    </p>
  </div>
  <mat-grid-list [cols]="colSize" class="grid-list" rowHeight="fit">
    <mat-grid-tile *ngFor="let item of cards">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>{{ item.title }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ item.image }}" />
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
