<mat-toolbar class="footer tertiary-background">
  <div class="contacto">
    <h2>Contacto</h2>
    <ul>
      <li>Tel: +506 8682-7269</li>
      <li>Email: jdiegoquan@gmail.com</li>
      <li>Direccion: Alajuela, Costa Rica</li>
    </ul>
  </div>
  <div class="enlaces">
    <h2>Enlaces</h2>
    <div class="container-enalces">
      <ul>
        <li>
          <a routerLink="/">Inicio</a>
        </li>
        <li>
          <a routerLink="/quien-soy">Quién soy</a>
        </li>
        <li>
          <a routerLink="/habilidades-blandas">Habilidades</a>
        </li>
        <li>
          <a routerLink="/servicios">Servicios</a>
        </li>
      </ul>
      <ul>
        <li>
          <a routerLink="/portafolio">Portafolio</a>
        </li>
        <li>
          <a routerLink="/blog">Blog</a>
        </li>
        <li>
          <a routerLink="/contacto">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="redes">
    <div>
      <h2>Redes Sociales</h2>
    </div>
    <div class="redes-redes">
      <a href="https://twitter.com/jdiegooo">
        <i class="fab fa-twitter"></i>
      </a>
      <a
        class="a-none"
        href="https://www.linkedin.com/in/juan-diego-arguello-quan-a2919b1b2/"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/jdiego98">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</mat-toolbar>
