<mat-toolbar class="footer tertiary-background">
  <div class="contacto">
    <h2>{{textos[currentLanguage].contacto.titulo}}</h2>
    <ul>
      <li>Tel: +506 8682-7269</li>
      <li>Email: jdiegoquan@gmail.com</li>
      <li>{{textos[currentLanguage].contacto.direccion}}: Alajuela, Costa Rica</li>
    </ul>
  </div>
  <div class="enlaces">
    <h2>{{textos[currentLanguage].enlaces.titulo}}</h2>
    <div class="container-enalces">
      <ul>
        <li>
          <a routerLink="/">{{textos[currentLanguage].enlaces.inicio}}</a>
        </li>
        <li>
          <a routerLink="/quien-soy">{{textos[currentLanguage].enlaces.quienSoy}}</a>
        </li>
        <li>
          <a routerLink="/habilidades-blandas">{{textos[currentLanguage].enlaces.habilidades}}</a>
        </li>
      </ul>      
      <ul> 
        <li>
          <a routerLink="/servicios">{{textos[currentLanguage].enlaces.servicios}}</a>
        </li>
        <li>
         <a routerLink="/portafolio">{{textos[currentLanguage].enlaces.portafolio}}</a>
       </li>
        <li>
          <a routerLink="/contacto">{{textos[currentLanguage].enlaces.contacto}}</a>
        </li>        
      </ul>
    </div>
  </div>
  <div class="redes">
    <div>
      <h2>{{textos[currentLanguage].redes.titulo}}</h2>
    </div>
    <div class="redes-redes">
      <a href="https://twitter.com/jdiegooo">
        <i class="fab fa-twitter"></i>
      </a>
      <a
        class="a-none"
        href="https://www.linkedin.com/in/juan-diego-arguello-quan-a2919b1b2/"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/jdiego98">
        <i class="fab fa-github"></i>
      </a>
    </div>

    <div class="contacto-mobile">
      <h2>{{textos[currentLanguage].contacto.titulo}}</h2>
    <ul>
      <li>Tel: +506 8682-7269</li>
      <li>Email: jdiegoquan@gmail.com</li>
      <li>{{textos[currentLanguage].contacto.titulo}}: Alajuela, Costa Rica</li>
    </ul>
    </div>
  </div>
</mat-toolbar>
