<div class="header">
  <mat-toolbar class="mat-tool primary-background">
    <div>
      <!-- <button mat-button><a routerLink="/">LOGO</a></button> -->

      <img
        src="https://res.cloudinary.com/dmdpbza13/image/upload/v1681004964/Portafolio%20Profesional/Logo_JDA_y7g3lz.png"
        alt="Logo de la empresa"
        class="logo"
      />
    </div>
    <div class="menu-desktop">
      <button mat-button><a routerLink="/">Inicio</a></button>
      <button mat-button><a routerLink="/quien-soy">Quién soy</a></button>
      <button mat-button>
        <a routerLink="/habilidades-blandas">Habilidades</a>
      </button>
      <button mat-button><a routerLink="/servicios">Servicios</a></button>
      <button mat-button><a routerLink="/portafolio">Portafolio</a></button>
      <button mat-button><a routerLink="/contacto">Contacto</a></button>
      <mat-slide-toggle [checked]="isSpanish" (change)="toggleLanguage()"
        >English</mat-slide-toggle
      >
    </div>
    <div class="menu-mobile">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <mat-menu #menu="matMenu" class="menu">
      <button mat-menu-item class="button-celphone">
        <a href="/">Inicio</a>
      </button>
      <button mat-menu-item class="button-celphone">
        <a href="/quien-soy">Quién soy</a>
      </button>
      <button mat-menu-item class="button-celphone">
        <a href="/habilidades-blandas">Habilidades</a>
      </button>
      <button mat-menu-item class="button-celphone">
        <a href="/servicios">Servicios</a>
      </button>
      <button mat-menu-item class="button-celphone">
        <a href="/portafolio">Portafolio</a>
      </button>
      <button mat-menu-item class="button-celphone">
        <a href="/contacto">Contacto</a>
      </button>

    </mat-menu>
  </mat-toolbar>
</div>
