<div class="header">
    <mat-toolbar class="mat-tool primary-background">
        <div>
            <button mat-button><a routerLink="/">LOGO</a></button>
        </div>
        <div>
            <button mat-button><a routerLink="/">Inicio</a></button>
            <button mat-button><a routerLink="/quien-soy">Quién soy</a></button>
            <button mat-button><a routerLink="/habilidades-blandas">Habilidades</a></button>
            <button mat-button><a routerLink="/servicios">Servicios</a></button>            
            <button mat-button><a routerLink="/portafolio">Portafolio</a></button>
            <button mat-button><a routerLink="/blog">Blog</a></button>
            <button mat-button><a routerLink="/contacto">Contacto</a></button>
            <!-- <button mat-button (click)="changeLanguage()">Cambiar Idioma</button> -->
        </div>
    </mat-toolbar>
</div>
    