<header>
  <mat-toolbar class="mat-tool primary-background">
    <div>
       <img
        src="https://res.cloudinary.com/dmdpbza13/image/upload/v1681004964/Portafolio%20Profesional/Logo_JDA_y7g3lz.png"
        alt="Logo de la empresa"
        class="logo"
      />
    </div>
    <div class="menu-desktop">
      <button mat-button><a routerLink="/">{{textos[currentLanguage].inicio}}</a></button>
      <button mat-button><a routerLink="/quien-soy">{{textos[currentLanguage].quienSoy}}</a></button>
      <button mat-button>
        <a routerLink="/habilidades-blandas">{{textos[currentLanguage].habilidades}}</a>
      </button>
      <button mat-button><a routerLink="/servicios">{{textos[currentLanguage].servicios}}</a></button>
      <button mat-button><a routerLink="/portafolio">{{textos[currentLanguage].portafolio}}</a></button>
      <button mat-button><a routerLink="/contacto">{{textos[currentLanguage].contacto}}</a></button>
      <mat-slide-toggle (change)="toggleLanguage()"
        >English</mat-slide-toggle
      >
    </div>
    <div class="menu-mobile">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <mat-menu #menu="matMenu" class="menu">
      <button mat-menu-item class="button-celphone">
        <a href="/">{{textos[currentLanguage].inicio}}</a>
      </button>
      <button mat-menu-item class="button-celphone">
        <a href="/quien-soy">{{textos[currentLanguage].quienSoy}}</a>
      </button>
      <button mat-menu-item class="button-celphone">
        <a href="/habilidades-blandas">{{textos[currentLanguage].habilidades}}</a>
      </button>
      <button mat-menu-item class="button-celphone">
        <a href="/servicios">{{textos[currentLanguage].servicios}}</a>
      </button>
      <button mat-menu-item class="button-celphone">
        <a href="/portafolio">{{textos[currentLanguage].portafolio}}</a>
      </button>
      <button mat-menu-item class="button-celphone">
        <a href="/contacto">{{textos[currentLanguage].contacto}}</a>
      </button>

    </mat-menu>
  </mat-toolbar>
</header>
