html{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.mat-tool{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20vh;
}

.logo{
    width: 30vh;
    height: 100%;
}

@media (max-width: 980px){

    .mat-tool{
        height: 8vh;
    }

    .button-celphone a {
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
        color: #212529
    }    

    .menu-desktop{
        display: none;
    }

    .logo{
        width: 20vh;
        height: 100%;
    }
    

}

@media (min-width: 980px){
    .menu-mobile{
        display: none;
    }

}

/* 
.header{
    height: 15vh;
    top: 0;
    left: 0; 
    width: 100%;
    z-index: 999; 
}

.mat-tool{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

mat-slide-toggle{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #dddddd;
} */