<div class="container">
  <h1>Contacto</h1>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" placeholder="Enter your name" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="name" placeholder="Enter your name" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Correo Electrónico</mat-label>
      <input matInput formControlName="email" placeholder="Enter your email" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Asunto</mat-label>
      <input matInput formControlName="email" placeholder="Enter your email" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="text-box">
      <mat-label>Mensaje</mat-label>
      <textarea
        matInput
        formControlName="message"
        placeholder="Enter your message"
      ></textarea>
    </mat-form-field>
    <div class="container-button">
      <button mat-raised-button class="button" type="submit">Enviar</button>
    </div>
  </form>
</div>
