.container {
    height: auto;
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
  }
  
h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #dddddd;
}

.button{
  background-color: #b7b78a;
  width: 50%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.container-button{
  display: flex;
  justify-content: center;
}

mat-form-field{
  height: 100px;
  margin-bottom: 20px;
} 

.text-box{
  height: 300px;
}