h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 50px;
    position: relative;
    animation: slideUp 1s forwards;
  }

  @keyframes slideUp {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }


.component{
    width: 100%;
    height: 95vh;
    margin-top: 2%;
}

.encabezado{
    text-align: center;
}

.card{
    max-width: 75%;
    min-width: 75%;
    /* height: 75%; */
    height: auto;
    /* background-color:#b7b78a; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.card::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}


.grid-list {
    height: 800px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
  }
/* 
ESTA PARTE RESPONSIVE AUN NO SIRVE, TRATAR QUE LOS CARDS QUEDEN DEL MISMO TAMAÑO, SOLO QUE VAYAN
PONIENDOSE UNO ABAJO DEL OTRO */
/* 
  @media screen and (max-width: 1279px) {
    mat-grid-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media screen and (max-width: 959px) {
    mat-grid-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 599px) {
    mat-grid-list {
      grid-template-columns: repeat(1, 1fr);
    }
  } */
 

.button{
  background-color: #b7b78a;
  color: #212529;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-decoration: none;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

mat-card-actions{
  display: flex;
  justify-content: center;
}

mat-card-title{
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
