.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

app-quien-soy{
    margin-top: 5vh;
}

app-servicio{
    margin-top: 5vh;
}

app-portafolio{
    margin-top: 5vh;
}

    