.container{
    display: flex;
    flex-direction: column;
    height: 350%;
    width: 100%;
}

app-quien-soy{
    height: 500px;
    margin-top: 5%;
}

app-servicio{
    height: 70%;
}

app-portafolio{
    margin-top: 4%;
    height: 20%;
}