<div class="container">
  <h1 class="title">Habilidades Blandas</h1>
  <mat-grid-list [cols]="colSize" rowHeight="fit" class="grid-list">
    <mat-grid-tile *ngFor="let item of cards">
      <mat-card class="card">
        <div>
          <mat-card-header>
            <mat-card-title>{{ item.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ item.content }}</p>
          </mat-card-content>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
