mat-card{
    /* height: 400px;
    width: 600px; */
    height: auto;
    width: 800px;
    height: 500px;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

mat-card-title{
    font-size: 24px;
    display: flex;
    justify-content: center;
}

img{
    width: 450px;
    height: 200;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.button{
    background-color: red;
}