<!-- <div class="container">
  <h1>{{this.data.title}}</h1>
  <p>{{this.data.content}}</p>
  <img mat-card-image src="" alt="foto-servicio" />
</div> -->

<mat-card>
  <mat-card-header>
    <mat-card-title>{{ this.data.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ this.data.content }}</p>
    <img mat-card-image src="https://res.cloudinary.com/dmdpbza13/image/upload/v1680146601/Portafolio%20Profesional/Desarrolllo-software_erq68p.jpg" />
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="button" (click)="onNoClick()">Cerrar</button>
  </mat-card-actions>
</mat-card>
