html{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

/* 
====================================================
================== ANIMACIONES =====================
==================================================== */

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* 
====================================================
================== CLASES GENERALES =====================
==================================================== */
no-shadow{
  box-shadow: none !important;
}

.container{
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
  height: auto;
}

h1{
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  animation: slideUp 1s forwards;
  text-align: center;
  margin-top: 2%;
}

img{
  display: block;
  width: 80%;
  height: 70%;
  margin: 5vh auto;
  margin-bottom: 5vh;
}


.button-container{
  display: flex;
  justify-content: center;
  margin-top: 4vh;
}

.button{
  background-color: #b7b78a;
  animation: slideUp 1s forwards;
  animation: fadeIn 1.5s forwards;
  width: 20%;
  display: block;
}

.button a{
  color: #212529;
  font-size: 1rem;
  text-decoration: none;
}

/* 
====================================================
================== CELULARES =====================
==================================================== */

@media (max-width: 480px){

h1{
  margin-top: 1vh;
}

.texto{
  display: block;
  margin-left: 1vh;
  margin-right: 1vh;
  text-align: center;
}

p{
  display: block;
  margin: 1vh;
  font-size: 1.2em;
  /* animation: slideUp 1s forwards; */
}

.button{
  width: 200px;
}

}


/* 
====================================================
================== TABLETS =====================
==================================================== */


@media only screen and (min-width: 481px) and (max-width: 980px) {

  img{
    display: block;
    width: 200px;
    height: 200px;
    margin: auto auto;
    margin-bottom: 5vh;
    border: 2px solid #ccc;
  }

  .texto{
    display: block;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
    margin-top: 5vh;
  }

  p{
    display: block;
    margin: 1vh;
    font-size: 1.3em;
    animation: slideUp 1s forwards;
  }

  .button{
    width: 200px;
  }

}


/* 
====================================================
================== LAPTOPS =====================
==================================================== */


@media only screen and (min-width: 980px)  {
  

  h1{
    width: 60%;
    margin-left: 35%;
    text-align: left;
  }

  .contenido{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  img{
    display: block;
    width: 250px;
    height: 250px;
    margin: 5vh auto;
    margin-bottom: 5vh;
    border: 2px solid #ccc;
  }
  
  .texto{
    display: block;
    margin: 5vh 5vw;
    text-align: left;
    width: 60%;
    height: 80%;
    line-height: 80%;
  }
  
  p{
    line-height: 1.5;
    font-size: 1.1rem;
  }
}

