<div class="component">
  <h1>Sobre Mi</h1>
  <mat-grid-list cols="5" rowHeight="fit" class="grid-list">
    <mat-grid-tile [colspan]="2" [rowspan]="5" >
      <mat-card class="card-img no-shadow"> 
        <mat-card-content>
          <img
            mat-card-image
            src="https://res.cloudinary.com/dmdpbza13/image/upload/v1678749165/Portafolio%20Profesional/foto-perfil_zdxwpn.jpg"
            alt="foto-perfil"
          />
        </mat-card-content>
        <mat-card-actions>       
            <button>Likedin</button>  
            <button>Twitter</button>
            <button>Instagram</button>                      
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile
      class="titulo"
      [colspan]="3"
      [rowspan]="5"
    >
      <mat-card class="card no-shadow">
        <mat-card-header>
          <!-- <mat-card-title><h1>Sobre Mi</h1></mat-card-title> -->
        </mat-card-header>
        <mat-card-content>
            <p>¡Hola! Mi nombre es Juan Diego Argüello Quan y soy estudiante de ingeniería mecánica e ingeniería en software. Desde muy joven siempre he sido muy curioso y estudioso, y me apasiona aprender sobre diferentes temas y áreas del conocimiento.</p>
            <p>Me interesa mucho el emprendimiento y, en especial, aquellos que están involucrados en solucionar problemáticas sociales. Creo firmemente que la tecnología y la innovación pueden ser herramientas poderosas para crear un impacto positivo en la sociedad y mejorar la vida de las personas.</p>
            <p>Además de mi interés en la tecnología y el emprendimiento, me gusta dedicar mi tiempo libre a actividades al aire libre como hacer senderismo y acampar. También disfruto de la lectura y el cine, y siempre estoy buscando aprender cosas nuevas.</p>
            <p>Como estudiante de ingeniería mecánica e ingeniería en software, estoy siempre en busca de nuevos desafíos y oportunidades para seguir aprendiendo y creciendo tanto personal como profesionalmente. Espero tener la oportunidad de trabajar en proyectos que me permitan aplicar mis conocimientos y habilidades para hacer una diferencia positiva en el mundo.</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
