<div class="container">
  <h1>  {{textos[currentLanguage].titulo}}</h1>
  <div class="contenido">
    <img
      mat-card-image
      src="https://res.cloudinary.com/dmdpbza13/image/upload/v1678749165/Portafolio%20Profesional/foto-perfil_zdxwpn.jpg"
      alt="foto-perfil"
    />

    <div class="texto">
      <p>
        {{textos[currentLanguage].p1}}
      </p>
      <p>
        {{textos[currentLanguage].p2}}
      </p>
      <p>
        {{textos[currentLanguage].p3}}
      </p>
      <p>
        {{textos[currentLanguage].p4}}
      </p>
    </div>
  </div>
  <div class="button-container">
    <button mat-button class="button">
      <a
        href="https://drive.google.com/file/d/1zdbJBTQ7wsjnwZ5AwPe8P6Ek8X_36s1s/view?usp=share_link"
        target="blank"
        >{{textos[currentLanguage].button}}</a
      >
    </button>
  </div>
</div>
